/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
#mc_embed_signup {
  margin: 0 auto;
}

#mc_embed_signup form {
  display: block; 
  position: relative; 
  text-align: left; 
  padding: 0;
  width: 360px;
}

@media screen and (max-width: 480px) {
  #mc_embed_signup form {
    width: 320px;
  } 
}

@media screen and (max-width: 360px) {
  #mc_embed_signup form {
    width: 300px;
  } 
}

#mc_embed_signup h2 {
  font-family: $regular;
  text-align: center;
  @include rem-fallback(font-size, 28);
  @include rem-fallback(margin-bottom, 36);
}

#mc_embed_signup input {
  border: none; 
}

#mc_embed_signup input[type=checkbox]{
  -webkit-appearance: checkbox;
}

#mc_embed_signup input[type=radio]{
  -webkit-appearance: radio;
}

#mc_embed_signup input:focus {
  border-color: #fff;
}

/* Create the animation blocks */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#mc_embed_signup .submit {
  text-align: center;
}

#mc_embed_signup .button {
  clear: both;
  background-color: $accent; 
  border: 2px solid #fff; 
  border-radius: 50%; 
  width: 60px;
  height: 60px;
  line-height: 60px;
  transition: all 0.23s ease-in-out 0s; 
  color: #FFFFFF; 
  cursor: pointer; 
  display: inline-block; 
  @include rem-fallback(font-size, 18); 
  // height: 32px; 
  // line-height: 32px; 
  // margin: 0 5px 10px 0; 
  // padding: 0 22px; 
  text-align: center; 
  text-decoration: none; 
  vertical-align: top; 
  white-space: nowrap;
  margin: 0;
  @include rem-fallback(margin-top, 18);
  padding: 0; 

  // animation-name: spin; 
  // animation-duration: 1s; /* 3 seconds */
  // //animation-iteration-count: infinite; 
  // animation-timing-function: linear;
}

#mc_embed_signup .button:hover {
  background-color: #fff;
  color: $accent;
}

#mc_embed_signup .small-meta {
  font-size: 11px;
}

#mc_embed_signup .nowrap {
  white-space: nowrap;
}

#mc_embed_signup .mc-field-group {
  clear: left; 
  position:relative; 
  width: 100%; 
  padding-bottom: 5%; 
  min-height: 50px;
}

#mc_embed_signup .size1of2 {
  clear:none; 
  float: left; 
  display:inline-block; 
  width: 46%; 
  margin-right: 4%;
}

* html #mc_embed_signup .size1of2 {
  margin-right:2%; /* Fix for IE6 double margins. */
}

:focus {
    outline: none;
    border-radius: 0;
}

#mc_embed_signup .mc-field-group label {
  display: none; 
  margin-bottom: 3px;
}

#mc_embed_signup .mc-field-group input {
  display: block; 
  width: 100%; 
  padding: 8px 0; 
  text-indent: 2%;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
}

#mc_embed_signup .mc-field-group input {
  text-align: center;
  @include text-input-placeholder-color(#fff);  
}

#mc_embed_signup .mc-field-group select {
  display:inline-block; 
  width:99%; 
  padding:5px 0; 
  margin-bottom:2px;
}

#mc_embed_signup .datefield, #mc_embed_signup .phonefield-us{
  padding:5px 0;
}

#mc_embed_signup .datefield input, 
#mc_embed_signup .phonefield-us input {
  display:inline; 
  width:60px; 
  margin:0 2px; 
  letter-spacing:1px; 
  text-align:center; 
  padding:5px 0 2px 0;
}

#mc_embed_signup .phonefield-us .phonearea input, 
#mc_embed_signup .phonefield-us .phonedetail1 input{
  width:40px;
}

#mc_embed_signup .datefield .monthfield input, 
#mc_embed_signup .datefield .dayfield input{
  width:30px;
}

#mc_embed_signup .datefield label, 
#mc_embed_signup .phonefield-us label{
  display:none;
}

#mc_embed_signup .indicates-required {
  text-align: right; 
  font-size:11px; 
  margin-right:4%;
}

#mc_embed_signup .asterisk {
  color:#e85c41; 
  font-size:150%; 
  font-weight:normal; 
  position:relative; 
  top:5px;
} 

#mc_embed_signup .clear {
  clear:both;
}

#mc_embed_signup .mc-field-group.input-group ul {
  margin:0; 
  padding:5px 0; 
  list-style:none;
}

#mc_embed_signup .mc-field-group.input-group ul li {
  display:block; 
  padding:3px 0; 
  margin:0;
}

#mc_embed_signup .mc-field-group.input-group label {
  display:inline;
}

#mc_embed_signup .mc-field-group.input-group input {
  display:inline; 
  width:auto; 
  border:none;
}

#mc_embed_signup div#mce-responses {
  float: left; 
  top:-1.4em; 
  padding:0em .5em 0em .5em; 
  overflow:hidden; 
  width:90%; 
  margin: 0 5%; 
  clear: both;
}

#mc_embed_signup div.response {
  margin: 1em 0;  
  font-weight: normal; 
  float: left; 
  top: -1.5em; 
  z-index: 1; 
}

#mc_embed_signup #mce-error-response {
  display:none;
}

#mc_embed_signup #mce-success-response {
  color: #fff; 
  font-weight: normal;
  display:none;
}

#mc_embed_signup label.error {
  display: block; 
  float: none; 
  width: auto; 
  margin-left: 1.05em; 
  text-align: left; 
  padding: .5em 0;
}

#mc-embedded-subscribe {
  clear: both; 
  width: auto; 
  display: block; 
  margin: 1em 0 1em 5%;
}

#mc_embed_signup #num-subscribers {
  font-size:1.1em;
}

#mc_embed_signup #num-subscribers span {
  padding:.5em; 
  border:1px solid #ccc; 
  margin-right:.5em; 
  font-weight:bold;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  display:inline-block; 
  margin:2px 0 1em 0; 
  padding:5px 10px; 
  background-color:rgba(255,255,255,0); 
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px; 
  font-size:14px; 
  font-weight:normal; 
  z-index:1; 
  color:#fff;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
  border:2px solid #fff;
}