@font-face {
  font-family: 'cf_asty_stdbold';
  src: url('../fonts/cfastystd-bold-webfont.woff2') format('woff2'),
       url('../fonts/cfastystd-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cf_asty_stdregular';
  src: url('../fonts/cfastystd-book-webfont.woff2') format('woff2'),
       url('../fonts/cfastystd-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: $regular;
  color: $brand-primary;
  font-size: 16px;
  font-size: 1rem;  
  line-height: 1.5;
  letter-spacing: 0px;
}

/* Make HTML 5 elements display block-level for consistent styling */
header, footer, section, aside, nav, article, figure, main { 
  display: block;
  position: relative; 
  padding: 0; 
  margin: 0; 
}

.container {
  max-width: 600px;
}

.small, 
small {
  @include rem-fallback(font-size, 11);
}

a {
  transition: color 0.5s ease;
}

a:hover {
  text-decoration: none;
  color: $grey-light-hover;
}

p:last-child {
  margin-bottom: 0;
}

.none {
  display: none;
}

/**
 * Images
 */
img {
  max-width: 100%;
}

/**
 * Layout wrapper
 */
.main {
  padding-left: 0!important;
  padding-right: 0!important;
}

/**
 * Header Top
 */
.banner {
  @include rem-fallback(padding-top, 20);
  @include rem-fallback(padding-bottom, 20);
}

.brand {
  @include rem-fallback(font-size, 20);
  letter-spacing: 1px; 
}

.social-links {
  list-style-type: none;
  margin-bottom: 0;
  li {
    text-align: right;
    float: right;
    @include rem-fallback(margin-right, 20);
    @include rem-fallback(margin-top, 6);  
    a {
      display: block;
      line-height: 1;
    }
  }
  .twitter {
    @include rem-fallback(margin-top, 8);
  }
}

@media screen and (max-width: 480px) {
  .social-links li {
    @include rem-fallback(margin-right, 10);  
  } 
}


/**
 * Footer
 */
.footer {
  @include rem-fallback(padding-top, 84);
  @include rem-fallback(padding-bottom, 72);
}

.footer .social-links {
  margin: 0 auto;
  padding: 0;
}

.footer .social-links li {
  text-align: left;
  float: left;
}

.footer h2, 
.footer h3 {
  width: 100%;
  text-align: center;
}

.footer h2 {
  @include rem-fallback(font-size, 14);
  @include rem-fallback(margin-bottom, 48);
}

.footer h3 {
  @include rem-fallback(font-size, 12);
  @include rem-fallback(margin-bottom, 24);
}


/**
 * Header Mid
 */
.subject {
  @include rem-fallback(padding-top, 20);
  @include rem-fallback(padding-bottom, 20);
  text-align: center;
  h2 {
    @include rem-fallback(font-size, 32);
    text-transform: uppercase;
  }
  h3 {
    @include rem-fallback(font-size, 14); 
  }
}

/**
 * Carousel
 */
.gallery-cell {
  padding: 0;
}

/* Fade CSS */

.flickity-slider {
  transform: none !important;
}

.gallery-cell {
  left: 0 !important;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  z-index: -1;
}

.gallery-cell.is-selected {
  opacity: 1;
  z-index: 0
}

/**
 * Form
 */
.cta-form {
  background-color: $accent;
  color: #fff;
  @include rem-fallback(padding-top, 20);
  @include rem-fallback(padding-bottom, 20);
  h2 {
      text-align: center;
      @include rem-fallback(font-size, 28);
  }
}

/**
 * Main
 */
article h3 {
  text-align: center;
  @include rem-fallback(margin-top, 48);
  @include rem-fallback(margin-bottom, 16);
}