// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: #333333;
$accent: #486E57;
$grey-light: #9a9a9a;
$grey-lighter: #d7d7d7;
$grey-light-hover: #b7b7b7;

//margins, padding
$half: 8; 
$base: 17;  
$basex2: 34; 
$basex3: 51; 
$basex4: 68; 

//font-weights
$light: 300;
$regular: 'cf_asty_stdregular',sans-serif;
$bold: 'cf_asty_stdbold', sans-serif;


